body{
background-color:  lightgray;
}

h1 {
margin-left: 50px;
margin-right: 450px;
font: bold;
text-align: center;
}

h2 {
margin-top: 5px;
width: 1000px;
margin-left: 50px;
height: 50px;
padding-top: 20px;
padding-left: 20px;
background-color: gray;
color: white ;
font: bold;
}

#firstParagraph {
display: flex;
flex-direction: row;
justify-content: flex-start;
}

.logo {
margin-left: 100px;
width: 200px;
height: 200px;
}

.justifiedText {
margin-right: 450px;
margin-left: 25px;
text-align: justify;
text-indent: 40px;
}

.leftText {
margin-right: 450px;
margin-left: 100px;
text-align: start;
text-indent: 40px;
}






