#coloredCells .black {
    background: black;
}

#coloredCells .teal {
    background: teal;
}

#coloredCells .blue {
    background: blue;
}

#coloredCells .navy {
    background: navy;
}

#coloredCells .lime {
    background: lime;
}

#coloredCells .white {
    background: white;
}

#coloredCells .purple {
    background: purple;
}

#coloredCells .yellow {
    background: yellow;
}

#coloredCells .olive {
    background: olive;
}

#coloredCells .red {
    background: red;
}

#coloredCells .brown {
    background: brown;
}

#coloredCells .gray {
    background: gray;
}

#coloredCells .fuchsia {
    background: fuchsia;
}

#coloredCells .green {
    background: green;
}