#wordsColored #w-black {
    color: black;
}

#wordsColored #w-teal {
    color: teal;
}

#wordsColored #w-blue {
    color: blue;
}

#wordsColored #w-navy {
    color: navy;
}

#wordsColored #w-lime {
    color: lime;
}

#wordsColored #w-white {
    color: white;
}

#wordsColored #w-purple {
    color: purple;
}

#wordsColored #w-yellow {
    color: yellow;
}

#wordsColored #w-olive {
    color: olive;
}

#wordsColored #w-red {
    color: red;
}

#wordsColored #w-brown {
    color: brown;
}

#wordsColored #w-gray {
    color: gray;
}

#wordsColored #w-fuchsia {
    color: fuchsia;
}

#wordsColored #w-green {
    color: green;
}

#wordsColored #w-aqua {
    color: aqua;
}

#wordsColored #w-silver {
    color: silver;
}