#text_footer{
    font-size: 150%;
    text-align: center;
}

#text_black{
    color: black;
}

#text_teal{
    color: teal;
}

#text_blue{
    color: blue;
}

#text_navy{
    color: navy;
}

#text_lime{
    color: lime;
}

#text_white{
    color: white;
}

#text_purple{
    color: purple;
}

#text_yellow{
    color: yellow;
}

#text_olive{
    color: olive;
}

#text_red{
    color: red;
}

#text_maroon{
    color: maroon;
}

#text_gray{
    color: gray;
}

#text_fuchsia{
    color: fuchsia;
}

#text_green{
    color: green;
}

#text_aqua{
    color: aqua;
}

#text_silver{
    color: silver;
}
