#coloredCells {
    font-weight: bold;
    margin: 0 auto;
}

#coloredCells .box {
    margin: 0.6rem auto;
    width: 70%;
}

#coloredCells .row {
    display: flex;
}

#coloredCells .cells {
    height: 3rem;
    display: flex;
    align-items: center;
}

#coloredCells .box .xs {
    width: 15%;
}

#coloredCells .box .md {
    width: 16.6%;
}

#coloredCells .box .lg {
    width: 20%;
}

#coloredCells .box .xl {
    width: 50%;
}

#coloredCells .box .xxl {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}